@mixin changeFontSize($newSize,$newPadding){
    .forTheReplace{
        font-size: $newSize;
        padding: $newPadding;
    }
    header[class="final-header"]{
        font-size: $newSize;
        padding: $newPadding;
    }
}

$letter-color: "#111";

@keyframes letterAnimation{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0;
        .first-letter{
            display: none;
        }
        .second-letter{
            display: inline-block;
        }
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
        .first-letter{
            display: inline-block;
        }
        .second-letter{
            display: none;
        }     
    }
    100%{
        opacity: 1;
    }
}
@keyframes changingLetter{
    0%{
        display: inline-block;
        opacity: 1;

    }
    25%{
        display: none;
        opacity: 0;

    }
    50%{
        display: inline-block;
        opacity: 1;

    }
    75%{
        display: none;
        opacity: 0;

    }
    100%{
        display: inline-block;
        opacity: 1;

    }
}
@keyframes changingLetter2{
    0%{
        display: none;
        opacity: 0;
    }
    25%{
        display: inline-block;
        opacity: 1;
        
    }
    50%{
        display: none;
        opacity: 0;
        
    }
    75%{
        display: inline-block;
        opacity: 1;
        
    }
    100%{
        display: none;
        opacity: 0;

    }
}

.first-stage{
    background: url("https://apod.nasa.gov/apod/image/1910/2019-08-08-JMT19_1521-Pano-Edit_h600.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    transition: all 0.6s;
}


header[class="welcome-header"],header[class="final-header"]{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: calc(15% - 10px);
}
header[class="final-header"]{
    color: black;
    font-size: 4.9em;
    padding: 10px;
    font-family: 'Oswald',sans-serif; 
    transition: all 1.4s;
}
.forTheReplace{
    color: black;
    font-size: 4.9em;
    padding: 10px;
    font-family: 'Oswald',sans-serif;
    -webkit-animation: letterAnimation 2s infinite;
    animation: letterAnimation 2s infinite;
}

.first-letter{
    display: inline-block;
    -webkit-animation: changingLetter 1s infinite;
    animation: changingLetter 1s infinite;
}
.second-letter,.third-letter,.fourth-letter{
    display: none;
}
.second-letter{
    display: inline-block;
    -webkit-animation: changingLetter2 2s infinite;
    animation: changingLetter2 2s infinite;
    animation-delay: 0.5s;
}
.dissapeared{
    display: none;
}
.not-visible{
    opacity: 0;
}

@for $i from 0 to 14{   
    .forTheReplace{

        &:nth-child(#{$i}){
            -webkit-animation-delay: $i * (1s / 18);
            animation-delay: $i * (1s / 18);
        }

    }

}
@media screen and (max-width: 1415px){
    @include changeFontSize(4em,10px);
}
@media screen and (max-width: 1220px){
    @include changeFontSize(3em,7px);
}
@media screen and (max-width: 1010px){
    @include changeFontSize(2em,5px);
}
@media screen and (max-width: 625px){
    @include changeFontSize(1.7em,5px);
}
@media screen and (max-width: 570px){
    @include changeFontSize(1.2em,3px);
}
@media screen and (max-width: 370px){
    @include changeFontSize(0.9em,3px);
}